* {
    margin: 0;
    padding: 0;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_data {
    margin-bottom: 20%;
}

#logout {
    margin-bottom: 50%;
    width: 100px;
}