*{
    padding: 0;
    margin: 0;
}

.root{
    display: flex;

}

.container1{
    width: 50%;
    height: 100vh;
    background: blue;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}

#pass{
    display: inline;
}

#login{
    display: block;
}

button{
    border: 2px solid blue;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    width: 50%;
}